.ui3-validate-msg{
    display: inline-block;
    line-height: 20px;
    height: 20px;
    padding-left: 5px;
    font-size: 14px;
    overflow:auto;
    _height: 1%;
}

.ui3-validate-icon{
    background-image: url(./icon.png);
    background-repeat: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.ui3-validate-pass .ui3-validate-icon {
    background-position: 0px 58px;
}

.ui3-validate-fail .ui3-validate-icon {
    background-position: 0px 90px;
}